.container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.bar {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #e35145;
  border: 4px solid #4a4a4a;
  border-radius: 15px;
  padding: 0.6rem 1rem;
  box-sizing: border-box;
}

.icon {
  width: 24px;
  height: 24px;
  color: #efefef;
  margin-right: 12px;
  flex-shrink: 0;
}

.input {
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  color: white;
  font-size: 1.1rem;
  font-weight: normal;
  text-transform: uppercase;
  font-family: "Bangers", system-ui;
}

.input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  text-transform: uppercase;
  font-family: "Bangers", system-ui;
}