.container {
    width: 5rem;
    height: 5rem;
    background-color: #E3E3E3;
    border-radius: 8px;
    padding: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid transparent;
    transition: transform 0.2s, box-shadow 0.2s;
}

.container:hover {
    transform: scale(1.05);
}

.container:active,
.selected {
    border: 3px solid transparent;
    background:
        linear-gradient(#242424, #242424) padding-box,
        linear-gradient(90deg, #DD5449 0%, #323232 50%, #C5C5C5 100%) border-box;

    border-radius: 8px;
    box-shadow: 0 0 10px rgba(211, 79, 73, 0.5);
}

.container__image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.grab {
    cursor: grab;
}

.pointer {
    cursor: pointer;
}