.container{
    width: 5rem;
    height: 5rem;
    background-color: #E3E3E3;
    border-radius: 8px;
    padding: .5rem;
}
.container:active {
    border: 3px solid transparent;
    background: 
        linear-gradient(#242424, #242424) padding-box, 
        linear-gradient(90deg, #DD5449 0%, #323232 50%, #C5C5C5 100%) border-box;
    
    border-radius: 8px; 
}
.container__image{
    width: 100%;
    height: 100%;
    object-fit: contain;
}